.type-transport {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 15px;
	border-radius: 21px;
	background: #fff;
}
.legkovoi {
	background-image: url(/src/media/img/bmw.png);
    background-repeat: no-repeat;
		background-position: center;
}
.gruzovoi {
	background-image: url(/src/media/img/gruzovoi.png);
    background-repeat: no-repeat;
		background-position: center;
}
.comercial {
	background-image: url(/src/media/img/comercial.png);
    background-repeat: no-repeat;
		background-position: center;
}
.spectex {
	background-image: url(/src/media/img/spectex.png);
    background-repeat: no-repeat;
		background-position: center;
}
.cd-tab-filter-wrapper {
  z-index: 1;
	height: 100%;
}
.cd-tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  margin: 0 auto;
  z-index: 1;
}
.cd-tab-filter ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  background-color: #ffffff;
}
.cd-tab-filter a.selected {
	/* create border bottom using box-shadow property */
	border: 1px solid #FF574C;
}
.cd-tab-filter a {
  height: 205px;
	/* min-width: 280px; */
	/* width: 100%; */
}
.filter-car {
	width: 20%;
  min-width: 280px;
	margin-bottom: 20px;
	margin-right: 30px;
}
.filter:nth-last-child(1){
	margin-right: 0;
}
@media screen and (max-width: 1280px) {
	.filter {
		width: 30%;
	}
	.filter:nth-last-child(2){
		margin-right: 0;
	}
}
@media screen and (max-width: 994px) {
	.filter {
		width: 48%;
	}
	.filter:nth-last-child(3){
		margin-right: 0;
	}
}
@media screen and (max-width: 844px) {
	.filter {
		width: 46%;
		margin-right: 20px;
	}
	.filter:nth-last-child(3){
		margin-right: 0;
	}
}
.cd-tab-filter a {
	color: #9a9a9a;
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
	box-shadow: 1px 0px 20px 5px rgba(0, 0, 0, 0.06);
}
.no-touch .cd-tab-filter a:hover {
	color: #41307c;
}
.cd-tab-filter a.selected {
	/* background: #fff; */
	color: #515151;
}
.cd-tab-filter a.selected {
}
.filter-box {
	margin-top: 20px;
	padding: 25px;
	background: #FFFFFF;
	box-shadow: 0px 6px 40px 1px rgba(0, 0, 0, 0.06);
	border-radius: 21px;
	margin-bottom: 50px;
}
select.filter {
	margin-bottom: 0;
}
.cd-filter-content.cd-filters.list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.filter-new-old {
	margin-bottom: 20px;
}
.filter-select-box {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
.filter-select {
	margin-right: 20px;
}
.filter-select-last {
	margin-right: 0;
}
@media screen and (max-width: 991px) {
	.filter-select {
		margin-right: 0px;
		margin-bottom: 20px;
	}
}
.ads-car-box {
	display: flex;
	flex-wrap: wrap;
}
.ads-car-box img {
	border-radius: 24px;
}
.ads-car-tittle {
	font-size: 19px;
	font-weight: 600;
	color: #515151;
	margin-top: 20px;
}
.ads-car-specifi-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 500;
	color: #9D9D9D;
	margin-top: 15px;
}
.ads-car-price-tittle {
	font-size: 14px;
	font-weight: 500;
	color: #9D9D9D;
	margin-top: 20px;
	margin-bottom: 15px;
}
.ads-car-price {
	font-size: 22px;
	font-weight: 600;
	color: #515151;
}
.ads-car-order-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0 15px 0;
	border: 1px solid #FF574D;
	font-weight: 500;
	color: #FF574D;
	border-radius: 6px;
	margin-top: 20px;
	cursor: pointer;
}
.ads-car-label {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	margin-left: 15px;
	padding: 5px 12px;
	font-size: 12px;
	color: #fff;
	border-radius: 42px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}
.car-old {
	background: #3F8FFE;
}
.car-new {
	background: #ff4d6b;
}
.ads-car-label-nal {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 45px;
	margin-left: 15px;
	padding: 5px 12px;
	font-size: 12px;
	color: #fff;
	background: #11ce50;
	border-radius: 42px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 1280px) {
	.cd-gallery ul {
		padding: 0 40px 0 40px;
	}
}
@media screen and (max-width: 767px) {
	.cd-gallery ul {
		display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	}
}
@media screen and (max-width: 674px) {
	.cd-gallery ul {
		display: flex;
    flex-wrap: wrap;
    justify-content: center;
	}
	.cd-gallery li {
		width: 100%;
	}
	.filter {
    width: 100%;
    margin-right: 0px;
	}
}
.offer-slide {
	cursor: pointer;
}