.grateful-box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 40px;
	background: #444444;
	box-shadow: 0px 6px 40px 1px rgb(0 0 0 / 6%);
	border-radius: 21px;
}
.grateful-logo {
	width: 100%;
	display: flex;
	justify-content: center;
}
.grateful-logo img {
	width: 150px;
}
.grateful-tittle {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 100px;
	font-size: 30px;
	font-weight: 500;
	color: #f4f4f4;
}
.grateful-subtittle {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 30px;
	font-size: 18px;
	font-weight: 300;
	color: #f4f4f4;
}
.grateful-gohome {
	margin-top: 100px;
	text-align: center;
	padding: 18px 34px;
	background: #FF574D;
	box-shadow: 1px 4px 14px rgb(0 0 0 / 13%);
	border-radius: 6px;
	color: #F4F4F4;
}
.grateful-gohome:hover {
	color: #F4F4F4;
	text-decoration: none;
}