*{
	font-family: 'Yandex Sans Text';
	
}
/* Responsive */
.fix-widht {
	max-width: 1220px;
}
.col-fix-widht {
	padding: 0;
}
.mt-30 {
	margin-top: 30px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-30 {
	margin-bottom: 30px;
}
.form-check-input {
	margin-top: 1px;
}
.checkform {
	margin-top: 25px;
}
.checkform2 {
	margin-top: 15px;
}
@media screen and (max-width: 1280px) {
	.col-fix-widht {
		padding: 0 40px 0 40px;
	}
}
/* Slider */
.owl-dots {
	/* display: none; */
}
/* Font */
h1 {
	font-size: 30px;
	font-weight: 900;
	color: #515151;
}
h2 {
	font-size: 16px;
	font-weight: 400;
	color: #515151;
}
/* Mobile first screen */
.mobile-first-box {
	display: none;
	align-content: space-between;
	flex-wrap: wrap;
	margin-top: 70px;
	padding: 30px;
	width: 100%;
	height: 700px;
	border-radius: 22px;
	background-image: url(/src/media/img/bmw-mob.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.mobile-first-tittle {
	color:#ffffff;
	line-height: 30px;
	font-size: 26px;
	font-weight: 600;
}
.mobile-first-btn {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	padding: 15px 20px;
	color:#F4F4F4;
	background: #FF574D;
	box-shadow: 1px 4px 14px rgba(0, 0, 0, 0.13);
	border-radius: 6px;
}
@media screen and (max-width: 600px) {
	.slider-top.owl-carousel {
		display: none;
	}
	.mobile-first-box {
		display: flex;
	}
}
@media screen and (max-width: 500px) {
	.mobile-first-box {
		height: 500px;
	}
}
/* Slider stories */
.slide-stories {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 21px;
	margin-top: 40px;
}
.slide-stories img {
	border-radius: 21px;
}
.right-btn-slider {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: #FFFFFF;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	border-radius: 50px;
	cursor: pointer;
}
.right-btn-slider img {
	margin-left: 2px;
}
button:focus {
	outline:0px dotted;
	outline: 0;
}
.owl-next {
	position: absolute;
	top: 130px;
	right: -63px;
}
.right-btn-stories {
	margin-top: 90px;
}
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -45px;
  top: 55px; 
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -45px;
  top: 55px;
}
.check-ads {
	position: absolute;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	white-space: nowrap;
	padding: 8px 12px;
	right: 20px;
	top: 55px;
	font-weight: 400;
	font-size: 10px;
	color: #FFFFFF;
	border-radius: 42px;
	background: rgba(196, 196, 196, 0.4);
	backdrop-filter: blur(5px);
	cursor: pointer;
}
.check-ads img {
	width: 15px;
	height: 15px;
	margin-left: 5px;
}
.play-btn {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 54px;
	height: 54px;
	background: rgba(196, 196, 196, 0.4);
	backdrop-filter: blur(5px);
	border-radius: 50px;
	cursor: pointer;
}
.play-btn img {
	width: 24px;
	height: 24px;
	margin-left: 5px;
}
.stories-tittle {
	position: absolute;
	font-weight: 700;
	font-size: 22px;
	color: #FFFFFF;
	bottom: 40px;
	left: 20px;
}
/* Lizing calc */
.line-border-page {
	margin-top: 80px;
	margin-bottom: 100px;
	border-top: 1px solid #C3C3C3;
}
.btn-liz-box {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}
.btn-liz {
	padding: 10px 30px;
	border: 1px solid #3F8FFE;
	border-radius: 7px;
	font-weight: 500;
	font-size: 15px;
	color: #3F8FFE;
	margin-right: 30px;
	margin-bottom: 20px;
}
.btn-strah {
	padding: 10px 30px;
	border: 1px solid #A3A3A3;
	border-radius: 7px;
	font-weight: 500;
	font-size: 15px;
	color: #A3A3A3;
	margin-bottom: 20px;
}
.liz-calc-box {
	display: flex;
	align-items: center;
	margin-top: 50px;
	width: 100%;
}
.liz-calc {
	display: flex;
	background: #FFFFFF;
	box-shadow: 1px 0px 55px 10px rgba(0, 0, 0, 0.06);
	border-radius: 21px;
	max-width: 1220px;
	width: 100%;
	padding: 40px 40px 40px 50px;
	background-image: url(/src/media/img/calc.png);
	background-repeat: no-repeat;
	background-position: top 50px right -230px;
}
.liz-calc-form {
	display: flex;
	flex-wrap: wrap;
	max-width: 360px;
	width: 100%;
	margin-right: 50px;
}
.input-mod {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 1.65rem 1.5rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #f1f1f1;
	background-clip: padding-box;
	border: 0px solid #ced4da;
	border-radius: 0.5rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.liz-calc-text {
	font-weight: 400;
	font-size: 13px;
	color: #A3A3A3;
	margin-bottom: 50px;
	line-height: 15px;
}
.liz-calc-form-box {
	width: 100%;
}
.liz-calc-form-label {
	font-weight: 500;
	font-size: 16px;
	color: #515151;
	margin-bottom: 10px;
}
.form-calc {
	margin-bottom: 50px;
}
/* form slider */
.slider.slider-horizontal {
	width: 100%;
	height: 20px;
}
.slider {
	top: 10px;
}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
	display: inline-block;
	text-align: center;
	font-size: 12px;
}
.slider.slider-horizontal .slider-selection, .slider.slider-horizontal .slider-track-low, .slider.slider-horizontal .slider-track-high {
	height: 5px;
	top: 0;
	bottom: 0;
}
.slider.slider-horizontal .slider-track {
	height: 5px;
	width: 100%;
	margin-top: -5px;
	top: 50%;
	left: 0;
}
.slider-track {
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #f1f1f1, #f1f1f1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #f1f1f1);
	background-image: -o-linear-gradient(top, #f1f1f1, #f1f1f1);
	background-image: linear-bcc4cb(to bottom, #f1f1f1, #f1f1f1);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#f1f1f1',GradientType=0);
	box-shadow: inset 0 0px 0px rgb(0 0 0 / 10%);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	cursor: pointer;
}
.slider-selection.tick-slider-selection {
	background-color: #3F8FFE;
	background-image: -moz-linear-gradient(top, #3F8FFE, #3F8FFE);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3F8FFE), to(#3F8FFE));
	background-image: -webkit-linear-gradient(top, #3F8FFE, #3F8FFE);
	background-image: -o-linear-gradient(top, #3F8FFE, #3F8FFE);
	background-image: linear-gradient(to bottom, #3F8FFE, #3F8FFE);
	background-repeat: repeat-x;
	box-shadow: inset 0 0px 0px rgb(0 0 0 / 10%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F8FFE', endColorstr='#3F8FFE',GradientType=0);
}
.slider-handle {
	background-color: #3F8FFE;
	background-image: -moz-linear-gradient(top, #3F8FFE, #3F8FFE);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3F8FFE), to(#3F8FFE));
	background-image: -webkit-linear-gradient(top, #3F8FFE, #3F8FFE);
	background-image: -o-linear-gradient(top, #3F8FFE, #3F8FFE);
	background-image: linear-gradient(to bottom, #3F8FFE, #3F8FFE);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F8FFE', endColorstr='#3F8FFE',GradientType=0);
	position: absolute;
	top: 0;
	width: 11px;
	height: 11px;
	background-color: #3F8FFE;
	border: 0px solid transparent;
}
.slider-tick.in-selection {
	background-color: #3F8FFE;
	background-image: -moz-linear-gradient(top, #3F8FFE, #3F8FFE);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3F8FFE), to(#3F8FFE));
	background-image: -webkit-linear-gradient(top, #3F8FFE, #3F8FFE);
	background-image: -o-linear-gradient(top, #3F8FFE, #3F8FFE);
	background-image: linear-gradient(to bottom, #3F8FFE, #3F8FFE);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F8FFE', endColorstr='#3F8FFE',GradientType=0);
	opacity: 1;
}
.slider-tick {
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #f1f1f1, #f1f1f1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f1f1f1, #f1f1f1);
	background-image: -o-linear-gradient(top, #f1f1f1, #f1f1f1);
	background-image: linear-gradient(to bottom, #f1f1f1, #f1f1f1);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#f1f1f1',GradientType=0);
	box-shadow: inset 0 0px 0 rgb(0 0 0 / 15%);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	cursor: pointer;
	width: 11px;
	height: 11px;
	filter: none;
	opacity: 1;
	border: 0px solid transparent;
}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
	margin-left: -5px;
	margin-top: 2px;
}
/*  */
.liz-calc-done {
	max-width: 770px;
	padding-left: 50px;
	border-left: 1px solid #C3C3C3;
}
.liz-calc-tittle-box {
	width: 100%;
}
.liz-calc-tittle {
	display: flex;
	width: 100%;
	font-weight: 700;
	font-size: 26px;
	color: #515151;
}
.liz-calc-tittle-m {
	display: none;
	width: 100%;
	font-weight: 700;
	font-size: 26px;
	color: #515151;
	margin-bottom: 30px;
}
.liz-calc-tittle-done {
	display: none;
	margin-top: 30px;
	width: 100%;
	font-weight: 700;
	font-size: 26px;
	color: #515151;
}
.liz-calc-total-box {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 550px;
	margin-top: 60px;
	display: flex;
}
.liz-calc-total-sum-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.liz-calc-total-sum-tittle-box {
	display: flex;
	align-items: center;
}
.liz-calc-total-sum-tittle {
	font-weight: 500;
	font-size: 16px;
	margin-right: 10px;
}
.tooltip-gray {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	min-width: 18px;
	padding-top: 1px;
	font-weight: 500;
	font-size: 13px;
	color: #515151;
	background: rgba(125, 125, 125, 0.5);
	border-radius: 50px;
	cursor: pointer;
}
.separator-line {
	width: 100%;
	height: 1px;
	margin-top: 40px;
	margin-bottom: 40px;
	background: #C3C3C3;
}
.liz-calc-total-sum {
	white-space: nowrap;
	font-weight: 500;
	font-size: 20px;
	color: #515151;
}

.liz-calc-total-mon-pay-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 30px;
}
.liz-calc-total-mon-pay-tittle-box {
	display: flex;
	align-items: center;
}
.liz-calc-total-mon-pay-tittle {
	font-weight: 500;
	font-size: 16px;
	margin-right: 10px;
	color: #FF574D;
}
.liz-calc-total-mon-pay {
	white-space: nowrap;
	font-weight: 500;
	font-size: 20px;
	color: #FF574D;
}

.liz-calc-total-costs-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.liz-calc-total-costs-tittle-box {
	display: flex;
	align-items: center;
}
.liz-calc-total-costs-tittle {
	font-weight: 500;
	font-size: 16px;
	margin-right: 10px;
	color: #515151;
}
.liz-calc-total-costs {
	white-space: nowrap;
	font-weight: 500;
	font-size: 20px;
	color: #515151;
}

.liz-calc-total-refund-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 30px;
}
.liz-calc-total-refund-tittle-box {
	display: flex;
	align-items: center;
}
.liz-calc-total-refund-tittle {
	font-weight: 500;
	font-size: 16px;
	margin-right: 10px;
	color: #515151;
}
.liz-calc-total-refund {
	white-space: nowrap;
	font-weight: 500;
	font-size: 20px;
	color: #515151;
}

.liz-calc-total-economy-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 30px;
}
.liz-calc-total-economy-tittle-box {
	display: flex;
	align-items: center;
}
.liz-calc-total-economy-tittle {
	font-weight: 500;
	font-size: 16px;
	margin-right: 10px;
	color: #515151;
}
.liz-calc-total-economy {
	white-space: nowrap;
	font-weight: 500;
	font-size: 20px;
	color: #515151;
}

.order-btn-calc {
	display: inline-block;
	margin-top: 165px;
	padding: 18px 34px;
	background: #FF574D;
	box-shadow: 1px 4px 14px rgba(0, 0, 0, 0.13);
	border-radius: 6px;
	color: #F4F4F4;
	cursor: pointer;
}

@media screen and (max-width: 1150px) {
	.liz-calc-done {
    padding-left: 20px;
    border-left: 1px solid #A3A3A3;
	}
}
@media screen and (max-width: 1120px) {
	.liz-calc {
		flex-wrap: wrap;
		padding: 40px 40px 40px 40px;
	}
	.liz-calc-done {
		max-width: 100%;
    padding-left: 0px;
    border-left: 0px solid #C3C3C3;
	}
	.liz-calc-total-box {
    max-width: 100%;
	}
	.liz-calc-form {
    max-width: 100%;
    margin-right: 0px;
	}
	.liz-calc-tittle {
		display: none;
	}
	.liz-calc-tittle-m {
		display: flex;
	}
	.liz-calc-tittle-done {
		display: flex;
	}
	.order-btn-calc {
		display: flex;
		justify-content: center;
    margin-top: 50px;
	}
	.liz-calc-text {
		line-height: 20px;
	}
	.slider-tick-label-container {
		margin-left: 40px;
	}
	.slider.slider-horizontal .slider-tick-label-container .slider-tick-label:last-child {
		margin-left: -76px;
    text-align: right;
	}
	.slider.slider-horizontal .slider-tick-label-container .slider-tick-label:first-child {
		margin-right: -76px;
		margin-left: 76px;
    text-align: left;
	}
}
@media screen and (max-width: 975px) {
	.slider.slider-horizontal .slider-tick-label-container .slider-tick-label:last-child {
		margin-left: 0;
    text-align: center;
	}
	.slider.slider-horizontal .slider-tick-label-container .slider-tick-label:first-child {
		margin-right: 0;
		margin-left: 0;
    text-align: center;
	}
}
@media screen and (max-width: 690px) {
	.liz-calc-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    margin-right: 0px;
	}
	.liz-calc-total-box {
    margin-top: 40px;
	}
	.liz-calc-done {
    border-top: 1px solid #C3C3C3;
	}
}
@media screen and (max-width: 500px) {
	.liz-calc-total-sum-tittle {
		font-size: 15px;
	}
	.liz-calc-total-sum {
    font-size: 17px;
	}
	.liz-calc-total-mon-pay-tittle {
		font-size: 15px;
	}
	.liz-calc-total-mon-pay {
		font-size: 17px;
	}
	.liz-calc-total-costs-tittle {
		font-size: 15px;
	}
	.liz-calc-total-costs {
		font-size: 17px;
	}
	.liz-calc-total-refund-tittle {
		font-size: 15px;
	}
	.liz-calc-total-refund {
		font-size: 17px;
	}
	.liz-calc-total-economy-tittle {
		font-size: 15px;
	}
	.liz-calc-total-economy {
		font-size: 17px;
	}
}

@media screen and (max-width: 1361px) {
	.owl-nav {
    display: none;
	}
}
/* Contact */
.contact-box {
	width: 100%;
	padding: 40px;
	background: #FFFFFF;
	box-shadow: 0px 6px 40px 1px rgba(0, 0, 0, 0.06);
	border-radius: 21px;
}
.contact-info-box {
	display: flex;
	flex-wrap: wrap;
}
.contact-info-tittle {
	font-size: 26px;
	font-weight: 600;
	color: #515151;
	margin-bottom: 30px;
}
.contact-info-adress {
	font-size: 20px;
	font-weight: 400;
	color: #515151;
	margin-bottom: 30px;
}
.contact-info-time-work {
	font-size: 20px;
	font-weight: 400;
	color: #515151;
	margin-bottom: 30px;
	width: 100%;
}
.contact-info-phone {
	font-size: 20px;
	font-weight: 400;
	color: #515151;
	width: 100%;
}
.contact-info-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 250px;
	padding: 15px 30px;
	color:#F4F4F4;
	font-size: 15px;
	font-weight: 500;
	background: #FF574D;
	border-radius: 6px;
	float: right;
	cursor: pointer;
}
@media screen and (max-width: 991px) {
	.contact-info-btn {
    max-width: none;
		float: none;
		margin-top: 40px;
	}
	.contact-info-tittle {
		font-size: 22px;
	}
	.contact-info-adress {
		font-size: 17px;
	}
	.contact-info-time-work {
		font-size: 17px;
	}
	.contact-info-phone {
		font-size: 17px;
	}
}
.contact2-box {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	padding: 40px;
	background: #444444;
	box-shadow: 0px 6px 40px 1px rgba(0, 0, 0, 0.06);
	border-radius: 21px;
}
.contact2-box-tittle {
	font-size: 20px;
	font-weight: 600;
	color:#F4F4F4;
}
.contact2-phone-box {
}
.contact2-phone {
	font-size: 22px;
	font-weight: 600;
	color:#F4F4F4;
}
.contact2-phone-info {
	font-size: 11px;
	font-weight: 600;
	color:#9D9D9D;
	margin-top: 5px;
}
@media screen and (max-width: 1112px) {
	.contact2-phone-box {
		margin-top: 30px;
	}
}
@media screen and (max-width: 500px) {
	.contact2-box-tittle {
		line-height: 27px;
	}
}
.warning-text {
	font-size: 14px;
	font-weight: 400;
	color:#9D9D9D;
	line-height: 18px;
}
.line-border-page2 {
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 1px solid #C3C3C3;
}
.footer-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.copyright-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #515151;
}
.social-btn-box {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}
.social-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 46px;
	background: #2D2D2D;
	border-radius: 5px;
	cursor: pointer;
}
.whatsapp {
	margin-right: 15px;
}
@media screen and (max-width: 874px) {
	.social-btn-box {
		margin-top: 30px;
	}
}
.footer-studio {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 30px;
}
.studio-box:hover {
	text-decoration: none;
}
.studio-tittle {
	font-weight: 500;
	font-size: 16px;
	color: #9D9D9D;
	margin-bottom: 10px;
}
@media screen and (max-width: 586px) {
	.footer-studio {
		justify-content: flex-start;
	}
}