.slider-top {
	position: relative;
	margin-top: 66px;
}
.slide-top {
	display: flex;
	width: 100%;
	height: 100%;
	margin-top: 30px;
	margin-bottom: 80px;
	box-shadow: 1px 26px 52px rgba(0, 0, 0, 0.06);
	border-radius: 21px;
}
.slide-top img {
	border-radius: 21px;
}
.slide-top-btn {
	position: absolute;
	bottom: 0;
	margin-bottom: 150px;
	margin-left: 60px;
	padding: 18px 34px;
	background: #FF574D;
	box-shadow: 1px 4px 14px rgba(0, 0, 0, 0.13);
	border-radius: 6px;
	color: #F4F4F4;
}
.slide-top-btn:hover {
	text-decoration: none;
	color: #F4F4F4;
}